body{
    background-color: rgba(0, 3, 58, 1);
}
.navbar{
    display: flex;
    justify-content: right;
}
.navbarelement{
    padding-left: 5%;
    color: white;
    text-decoration: none;
    font-family: "Outfit";}
.krypto{
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-family: "Outfit";
}
